@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
    display: flex;
    height: 100vh;
}
.sidebar {
    width: 300px;
    background-color: grey;
    color: white;
    padding: 40px;


}
.no-project {
    flex: 1;
    padding: 40px;
}
